@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
main
{
    position: static;
    width: 100%;
    height: 100%;
}
*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
mat-card
{
    color: asset;
    margin: 10px;
}
