<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Aufgabe</mat-card-title>
      <mat-card-subtitle>Dokumentation erstellen</mat-card-subtitle>
    </mat-card-header>
     <mat-card-content>
      <ul>
        <li>Schreibe eine Dokumentation über das Programm XYZ</li>
        <li>Benutze */</li>
        <li>Kein Notepad</li>
        <li>Strukturiert</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Aufgabe</mat-card-title>
        <mat-card-subtitle>Dokumentation erstellen</mat-card-subtitle>
      </mat-card-header>
       <mat-card-content>
        <ul>
          <li>Schreibe eine Dokumentation über das Programm XYZ</li>
          <li>Benutze */</li>
          <li>Kein Notepad</li>
          <li>Strukturiert</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">LIKE</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Aufgabe</mat-card-title>
          <mat-card-subtitle>Dokumentation erstellen</mat-card-subtitle>
        </mat-card-header>
         <mat-card-content>
          <ul>
            <li>Schreibe eine Dokumentation über das Programm XYZ</li>
            <li>Benutze */</li>
            <li>Kein Notepad</li>
            <li>Strukturiert</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
      </mat-card>