<div id="lefthalf">
  <div style="display: inline-flex;">
    <h3>Allgemeiner Aufgabenpool</h3>
    <button mat-icon-button style="margin: 10px;" (click)="addTask()">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>

  <div class="taskPool">
    <app-common-tasks></app-common-tasks>
  </div>
</div>
<div id="righthalf">
  <div style="display: inline-flex;">
    <h3>Aufgabenpool von</h3>
    <mat-form-field>
      <mat-select placeholder="User">
        <mat-option *ngFor="let users of user" [value]="users.userCount">
          {{users.userName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="taskpool">
    <app-user></app-user>
  </div>
</div>