<main>
  <mat-toolbar color="primary" style="z-index: 10;">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="task-pool">
              <mat-icon>dashboard</mat-icon>
              <span>Task-Pool</span>
            </button>
            <button mat-menu-item routerLink="login">
              <mat-icon>account_box</mat-icon>
              <span >Login</span>
            </button>
            <button mat-menu-item routerLink="user">
              <mat-icon>all_inbox</mat-icon>
              <span >Eigene Aufgaben</span>
            </button>
            <button mat-menu-item routerLink="test">
              <mat-icon >build</mat-icon>
              <span>Testseite</span>
            </button>
          </mat-menu>
      <span>Task-Master</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</main>