<mat-card class="example-card" *ngFor="let aTask of task">
        <mat-card-header>
          <mat-card-title>{{aTask.title}}</mat-card-title>
          <mat-card-subtitle>{{aTask.date}}</mat-card-subtitle>
        </mat-card-header>
         <mat-card-content>
          {{aTask.description}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">Abgeben</button>
          <button mat-raised-button color="accent">Bearbeiten</button>
        </mat-card-actions>
      </mat-card>